#2D_Array
:-Two dimensional array is an array within an array. It is an array of arrays. In this type of array the position of an data element is referred by two indices instead of one. So it represents a table with rows an dcolumns of data

In [1]:
#representation of the 2D_array
array = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

In [2]:
#Accessing of the array
array

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

In [3]:
array[0]

[11, 12, 5, 2]

In [4]:
array[1][2]

10

In [7]:
for x in array:
  for y in x:
    print(y)

11
12
5
2
15
6
10
10
8
12
5
12
15
8
6

In [8]:
for x in array:
  for y in x:
    print (y,end = ' ')

11 12 5 2 15 6 10 10 8 12 5 12 15 8 6

In [9]:
for  x in array:
  for y in x:
    print(y, end = ' ')
  print()

11 12 5 2
15 6 10
10 8 12 5
12 15 8 6

In [11]:
#inserting an element in the array
array.insert(1,[2,3,4,5])

In [12]:
for x in array:
  for y in x:
    print(y,end=' ')
  print()

11 12 5 2
2 3 4 5
15 6 10
10 8 12 5
12 15 8 6

In [13]:
#updating the values in the 2d array
array[2]=[3,6,9]

In [14]:
for x in array:
  for y in x:
    print(y, end =' ')
  print()

11 12 5 2
2 3 4 5
3 6 9
10 8 12 5
12 15 8 6

In [15]:
# deleting the values in the 2d array
del array[2]

In [17]:
for x in array:
  for y in x:
    print (y, end =' ')
  print()

11 12 5 2
2 3 4 5
10 8 12 5
12 15 8 6